Expertia.Estructura/Expertia.Estructura/Web References/ws_pax_aux.ws_pax_paxdoc/ws_pax_paxdoc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="prc_web_insert_pax">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="p_tipo_doc_identidad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_numero_doc_identidad" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_apellido_paterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_apellido_materno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_nombres" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_nombres2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_direccion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_fecha_cumple" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_telefono_casa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_telefono_celular" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_telefono_oficina" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="p_usuario" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="prc_web_insert_paxResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="prc_web_insert_paxResult" type="tns:ArrayOfR_message" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfR_message">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="r_message" nillable="true" type="tns:r_message" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="r_message">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="msg" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ArrayOfR_message" nillable="true" type="tns:ArrayOfR_message" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="prc_web_insert_paxSoapIn">
    <wsdl:part name="parameters" element="tns:prc_web_insert_pax" />
  </wsdl:message>
  <wsdl:message name="prc_web_insert_paxSoapOut">
    <wsdl:part name="parameters" element="tns:prc_web_insert_paxResponse" />
  </wsdl:message>
  <wsdl:message name="prc_web_insert_paxHttpGetIn">
    <wsdl:part name="p_tipo_doc_identidad" type="s:string" />
    <wsdl:part name="p_numero_doc_identidad" type="s:string" />
    <wsdl:part name="p_apellido_paterno" type="s:string" />
    <wsdl:part name="p_apellido_materno" type="s:string" />
    <wsdl:part name="p_nombres" type="s:string" />
    <wsdl:part name="p_nombres2" type="s:string" />
    <wsdl:part name="p_direccion" type="s:string" />
    <wsdl:part name="p_email" type="s:string" />
    <wsdl:part name="p_fecha_cumple" type="s:string" />
    <wsdl:part name="p_telefono_casa" type="s:string" />
    <wsdl:part name="p_telefono_celular" type="s:string" />
    <wsdl:part name="p_telefono_oficina" type="s:string" />
    <wsdl:part name="p_usuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="prc_web_insert_paxHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfR_message" />
  </wsdl:message>
  <wsdl:message name="prc_web_insert_paxHttpPostIn">
    <wsdl:part name="p_tipo_doc_identidad" type="s:string" />
    <wsdl:part name="p_numero_doc_identidad" type="s:string" />
    <wsdl:part name="p_apellido_paterno" type="s:string" />
    <wsdl:part name="p_apellido_materno" type="s:string" />
    <wsdl:part name="p_nombres" type="s:string" />
    <wsdl:part name="p_nombres2" type="s:string" />
    <wsdl:part name="p_direccion" type="s:string" />
    <wsdl:part name="p_email" type="s:string" />
    <wsdl:part name="p_fecha_cumple" type="s:string" />
    <wsdl:part name="p_telefono_casa" type="s:string" />
    <wsdl:part name="p_telefono_celular" type="s:string" />
    <wsdl:part name="p_telefono_oficina" type="s:string" />
    <wsdl:part name="p_usuario" type="s:string" />
  </wsdl:message>
  <wsdl:message name="prc_web_insert_paxHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfR_message" />
  </wsdl:message>
  <wsdl:portType name="ws_pax_paxdocSoap">
    <wsdl:operation name="prc_web_insert_pax">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Campos necesarios:ID_TIPO_DOCUMENTO,NUM_DOCUMENTO_IDENTIDAD,APELLIDO_PATERNO,APELLIDO_MATERNO Y NOMBRES</wsdl:documentation>
      <wsdl:input message="tns:prc_web_insert_paxSoapIn" />
      <wsdl:output message="tns:prc_web_insert_paxSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ws_pax_paxdocHttpGet">
    <wsdl:operation name="prc_web_insert_pax">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Campos necesarios:ID_TIPO_DOCUMENTO,NUM_DOCUMENTO_IDENTIDAD,APELLIDO_PATERNO,APELLIDO_MATERNO Y NOMBRES</wsdl:documentation>
      <wsdl:input message="tns:prc_web_insert_paxHttpGetIn" />
      <wsdl:output message="tns:prc_web_insert_paxHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ws_pax_paxdocHttpPost">
    <wsdl:operation name="prc_web_insert_pax">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Campos necesarios:ID_TIPO_DOCUMENTO,NUM_DOCUMENTO_IDENTIDAD,APELLIDO_PATERNO,APELLIDO_MATERNO Y NOMBRES</wsdl:documentation>
      <wsdl:input message="tns:prc_web_insert_paxHttpPostIn" />
      <wsdl:output message="tns:prc_web_insert_paxHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ws_pax_paxdocSoap" type="tns:ws_pax_paxdocSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="prc_web_insert_pax">
      <soap:operation soapAction="http://tempuri.org/prc_web_insert_pax" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ws_pax_paxdocSoap12" type="tns:ws_pax_paxdocSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="prc_web_insert_pax">
      <soap12:operation soapAction="http://tempuri.org/prc_web_insert_pax" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ws_pax_paxdocHttpGet" type="tns:ws_pax_paxdocHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="prc_web_insert_pax">
      <http:operation location="/prc_web_insert_pax" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ws_pax_paxdocHttpPost" type="tns:ws_pax_paxdocHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="prc_web_insert_pax">
      <http:operation location="/prc_web_insert_pax" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ws_pax_paxdoc">
    <wsdl:port name="ws_pax_paxdocSoap" binding="tns:ws_pax_paxdocSoap">
      <soap:address location="http://webservices.webfarefinder.com/ws_pax_aux_test/ws_pax_paxdoc.asmx" />
    </wsdl:port>
    <wsdl:port name="ws_pax_paxdocSoap12" binding="tns:ws_pax_paxdocSoap12">
      <soap12:address location="http://webservices.webfarefinder.com/ws_pax_aux_test/ws_pax_paxdoc.asmx" />
    </wsdl:port>
    <wsdl:port name="ws_pax_paxdocHttpGet" binding="tns:ws_pax_paxdocHttpGet">
      <http:address location="http://webservices.webfarefinder.com/ws_pax_aux_test/ws_pax_paxdoc.asmx" />
    </wsdl:port>
    <wsdl:port name="ws_pax_paxdocHttpPost" binding="tns:ws_pax_paxdocHttpPost">
      <http:address location="http://webservices.webfarefinder.com/ws_pax_aux_test/ws_pax_paxdoc.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>