Expertia.Estructura/Expertia.Estructura/Web References/ws_crm/ws_crm.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="EnvioDocumentos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnvioDocsRQ" type="tns:EnvioDocsRQ" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EnvioDocsRQ">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdReserva" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdCotizacion" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Formato" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IPUsuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Usuario_Session" type="tns:UsuarioSession" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="UsuarioSession">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="MensajeCambiarClave" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CambiarClave" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="FecExpiraPass" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="FecUpdate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="AutoLoginTrp" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdUsuario" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NomUsuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApePatUsuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ApeMatUsuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailUsuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EstadoUsuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LoginUsuario" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TipoUsuario" type="tns:TIPO_USUARIO" />
          <s:element minOccurs="0" maxOccurs="1" name="RazonSocialCliEmp" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdCliEmp" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdDep" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdOfi" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdEmp" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="NomCompleto" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdUsuWebSybase" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdUsuETravel" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="IdVendedorPTA" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="EsCounterAdminSRV" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="IdPlanilla" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdEmpresaPlanilla" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="EsSupervisorSRV" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClienteDk" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TelfCasaUsuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TelfMovilUsuario" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TelfOficinaUsuario" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="TIPO_USUARIO">
        <s:restriction base="s:string">
          <s:enumeration value="CLIENTE" />
          <s:enumeration value="PERSONAL" />
        </s:restriction>
      </s:simpleType>
      <s:element name="EnvioDocumentosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnvioDocumentosResult" type="tns:EnvioDocsRS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EnvioDocsRS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Codigo" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="EnvioDocumentosSoapIn">
    <wsdl:part name="parameters" element="tns:EnvioDocumentos" />
  </wsdl:message>
  <wsdl:message name="EnvioDocumentosSoapOut">
    <wsdl:part name="parameters" element="tns:EnvioDocumentosResponse" />
  </wsdl:message>
  <wsdl:portType name="ws_crmSoap">
    <wsdl:operation name="EnvioDocumentos">
      <wsdl:input message="tns:EnvioDocumentosSoapIn" />
      <wsdl:output message="tns:EnvioDocumentosSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ws_crmSoap" type="tns:ws_crmSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnvioDocumentos">
      <soap:operation soapAction="http://tempuri.org/EnvioDocumentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ws_crmSoap12" type="tns:ws_crmSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnvioDocumentos">
      <soap12:operation soapAction="http://tempuri.org/EnvioDocumentos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ws_crm">
    <wsdl:port name="ws_crmSoap" binding="tns:ws_crmSoap">
      <soap:address location="http://localhost:24997/web_services/ws_crm.asmx" />
    </wsdl:port>
    <wsdl:port name="ws_crmSoap12" binding="tns:ws_crmSoap12">
      <soap12:address location="http://localhost:24997/web_services/ws_crm.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>