Expertia.Estructura/Expertia.Estructura/Web References/ws_pagoefectivo/ws_pagoefectivo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GenerarCIP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="objNMGenReq" type="tns:BEGenRequest" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BEGenRequest">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IdMoneda" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Total" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="MetodosPago" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConceptoPago" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodServicio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Codtransaccion" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="EmailComercio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FechaAExpirar" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataAdicional" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UsuarioId" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UsuarioNombre" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UsuarioApellidos" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UsuarioLocalidad" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UsuarioProvincia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UsuarioPais" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UsuarioAlias" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UsuarioTipoDoc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UsuarioNumeroDoc" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UsuarioEmail" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Detalles" type="tns:Detalles" />
          <s:element minOccurs="1" maxOccurs="1" name="IdDepartamento" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdOficina" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Detalles">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Detalle" type="tns:Detalle" />
          <s:element minOccurs="0" maxOccurs="1" name="Cod_Origen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoOrigen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConceptoPago" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Importe" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Detalle">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="IdDetalleOrdenPago" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ConceptoPago" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Importe" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Tipo_Origen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cod_Origen" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Campo1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Campo2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Campo3" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GenerarCIPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GenerarCIPResult" type="tns:BEpaymentResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BEpaymentResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NumeroCip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdComercio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Token" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Xml" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="DesencriptarData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TextoEncriptado" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DesencriptarDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DesencriptarDataResult" type="tns:BEnotificacionResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BEnotificacionResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="NumeroCip" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="IdComercio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Xml" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsultarCIP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="request" type="tns:BEWSConsultarCIPRequestMod1" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BEWSConsultarCIPRequestMod1">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodServ" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Firma" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CIPS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InfoRequest" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="ConsultarCIPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarCIPResult" type="tns:BEWSConsultarCIPResponseMod1" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BEWSConsultarCIPResponseMod1">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="XML" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="InfoResponse" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GenerarCIPSoapIn">
    <wsdl:part name="parameters" element="tns:GenerarCIP" />
  </wsdl:message>
  <wsdl:message name="GenerarCIPSoapOut">
    <wsdl:part name="parameters" element="tns:GenerarCIPResponse" />
  </wsdl:message>
  <wsdl:message name="DesencriptarDataSoapIn">
    <wsdl:part name="parameters" element="tns:DesencriptarData" />
  </wsdl:message>
  <wsdl:message name="DesencriptarDataSoapOut">
    <wsdl:part name="parameters" element="tns:DesencriptarDataResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarCIPSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarCIP" />
  </wsdl:message>
  <wsdl:message name="ConsultarCIPSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarCIPResponse" />
  </wsdl:message>
  <wsdl:portType name="ws_PagoEfectivoSoap">
    <wsdl:operation name="GenerarCIP">
      <wsdl:input message="tns:GenerarCIPSoapIn" />
      <wsdl:output message="tns:GenerarCIPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DesencriptarData">
      <wsdl:input message="tns:DesencriptarDataSoapIn" />
      <wsdl:output message="tns:DesencriptarDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarCIP">
      <wsdl:input message="tns:ConsultarCIPSoapIn" />
      <wsdl:output message="tns:ConsultarCIPSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ws_PagoEfectivoSoap" type="tns:ws_PagoEfectivoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerarCIP">
      <soap:operation soapAction="http://tempuri.org/GenerarCIP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DesencriptarData">
      <soap:operation soapAction="http://tempuri.org/DesencriptarData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarCIP">
      <soap:operation soapAction="http://tempuri.org/ConsultarCIP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ws_PagoEfectivoSoap12" type="tns:ws_PagoEfectivoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GenerarCIP">
      <soap12:operation soapAction="http://tempuri.org/GenerarCIP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DesencriptarData">
      <soap12:operation soapAction="http://tempuri.org/DesencriptarData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarCIP">
      <soap12:operation soapAction="http://tempuri.org/ConsultarCIP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ws_PagoEfectivo">
    <wsdl:port name="ws_PagoEfectivoSoap" binding="tns:ws_PagoEfectivoSoap">
      <soap:address location="http://webservices.webfarefinder.com/gnm/ws_pagoefectivo.asmx" />
    </wsdl:port>
    <wsdl:port name="ws_PagoEfectivoSoap12" binding="tns:ws_PagoEfectivoSoap12">
      <soap12:address location="http://webservices.webfarefinder.com/gnm/ws_pagoefectivo.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>